{{ partial "header.html" . }}

{{ partial "topbar.html" . }}

<div id="layout">
    <div class="content">
        <div>
            <h1 class="category-index-title">{{ .Title }}</h1>

            {{ with .Data.Terms.ByCount }}
            <ul class="category-index">
                {{ range . }}
                <li>
                    <a class="category-index-item" href="{{ .Page.Permalink }}">
                        <span class="category-index-name">{{ .Page.Title }}</span>
                        <span class="category-index-count">{{ .Count }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

            {{ partial "footer.html" . }}
        </div>
    </div>
</div>
{{ partial "analytics.html" . }}
</body>
</html>
