{{ partial "header.html" . }}

{{ partial "topbar.html" . }}

<div id="layout">
  <div class="content">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        {{ range first 20 .Paginator.Pages }}
          <article>
            <!-- タイトル → 日付 → 要約 の順で視覚的階層を付ける -->
            <div><a class="post-list-title" href="{{ .RelPermalink }}">{{ .Title }}</a></div>
            <div class="post-list-date">{{ dateFormat "2006-01-02" .Date }}</div>
            <div class="post-description post-summary">{{ .Summary }}</div>
          </article>
          {{ end }}

        </div>
        {{ partial "pagination.html" . }}
        {{ partial "footer.html" . }}
        </div>
      </div>
    </div>
</body>
</html>
